# <center>Loops Solutions</center>

### <center>Difficulty Level : Easy</center>

- Create a program to display the first 10 even numbers in reverse order in a single line using 'end' parameter of 'print' function. 

    **Note :** Use both the loops.

In [1]:
# Solution using While loop :
i = 20
while i > 0:
    print(i, end = ' ')
    i-=2
print('\n') 

# Solution using For Loop :
for i in range(20,0,-2):
    print(i,end = ' ')

20 18 16 14 12 10 8 6 4 2

20 18 16 14 12 10 8 6 4 2

- Create a program that displays numbers starting from 20 to 40 with a difference of 5 in a single line using 'end' parameter of 'print' function.
    
    **Note :** Use both the loops.

In [2]:
# Solution using While loop :
i = 20
while 40 > i:
    print(i, end = ' ')
    i+=5
print('\n')

# Solution using For Loop :
for i in range(20,40,5):
    print(i,end = ' ')

20 25 30 35

20 25 30 35

- Create a program to display the cube of first 5 numbers in single line using 'end' parameter of 'print' function.

    **Note :** Use both the loops.

In [3]:
# Solution using While Loop :
x = 1
while (x < 6):
    print(x**3, end = ' ')
    x = x + 1
print('\n')

# Solution using for Loop :
for x in range(1,6):
    print(x**3, end = ' ')

1 8 27 64 125

1 8 27 64 125

- Create a program to display the factorial of a number.

    **Note :** Use both the loops with positive and negative step values.

In [4]:
n = int(input('Enter any number greater than 0 to calculate its factorial : '))

# Solution using while loop and positive step value :
fact = 1
i = 1
while n >= i:
    fact = fact * i
    i = i + 1
print(f'Factorial of {n} : {fact}')

# Solution using while loop and negative step value :
fact = 1
i = n
while i > 0:
    fact = fact * i
    i = i - 1
print(f'Factorial of {n} : {fact}')

# Solution using for loop and positive step value :
fact = 1
for i in range(1,n+1):
    fact = fact * i
print(f'Factorial of {n} : {fact}')

# Solution using for loop and negative step value :
fact = 1
for i in range(n,0,-1):
    fact = fact * i
print(f'Factorial of {n} : {fact}')

Enter any number greater than 0 to calculate its factorial : 5
Factorial of 5 : 120
Factorial of 5 : 120
Factorial of 5 : 120
Factorial of 5 : 120

### <center>Difficulty Level : Medium</center>

- Create a program that keeps on accepting input from user until 0 is entered and print the sum of all the numbers entered at the end.

In [5]:
# Solution using while loop :
num = 1
sum = 0
while ( num != 0 ):
    num = int(input("Enter any number : "))
    sum = sum + num
print('The sum of all the numbers entered uptill now : ', sum)

Enter any number : 5
Enter any number : 5
Enter any number : 4
Enter any number : 0
The sum of all the numbers entered uptill now :  14

-  Create a program to print the following series for 'n' terms where 'n' is the number taken from the user.

   **Series :** 2,22,222,2222,...... n terms

In [6]:
# Solution 1 :
n = int(input('Enter any number uptill which the series will be displayed : '))
for i in range(1,n):
    print('2'*i,end = ',')
print('2'*n)

Enter any number uptill which the series will be displayed : 5
2,22,222,2222,22222

### <center>Difficulty Level : Hard</center>

- Create a program that displays the first number divisible by 5 between 6 to 16 and then break the loop.

    **Note :** Use both the loops.

In [7]:
# Solution using while loop :
i = 6
while i < 17:
    if i % 5 == 0:
        print(i)
        break
    i = i + 1

# Solution using for loop :
for i in range(6,16):
    if i % 5 == 0 :
        print(i)
        break

10
10

- Create a program that replicates the following output :

    **Note :** Use both the loops.

    The Multiplication Table of 2 


    2 x 1 = 2

    .

    .

    .

    The Multiplication Table of 3


    3 x 1 = 3

    .

    .

    .

    The Multiplication Table of 4


    4 x 1 = 4

    .

    .

    .

In [8]:
# Solution using while loop :
i = 2
while i <= 4:
    print(f'Multiplication Table : {i}')
    j = 1
    while j <= 10:
        print(f'{i} x {j} = {i * j}')
        j = j + 1
    print('\t')
    i = i + 1

Multiplication Table : 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication Table : 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication Table : 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [9]:
# Solution using for loop :
for i in range(2, 5):
    print(f'Multiplication Table : {i}')
    for j in range(1,11):
        print(f'{i} x {j} = {i * j}')
    print('\t')

Multiplication Table : 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication Table : 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication Table : 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

# <center>Happy Learning!</center>