# Lists Practice problems and solutions

- Create a function named `to_append()` which will take two argument one will be list of fruits and second argument will be a new fruit that you want to add to that list. The output should be updated list after adding the new fruit

**For Example:**

```python
def to_append(fruits, new_fruit):
    ### your code here

fruits = ['banana', 'orange', 'mango', 'lemon']
new_fruit = 'blueberry'

to_append(fruits, new_fruit)

>>> ['banana', 'orange', 'mango', 'lemon', 'blueberry']
```

In [6]:
def to_append(fruits, new_fruit):
    fruits.append(new_fruit)
    return fruits
fruits = ['banana', 'orange', 'mango', 'lemon']

new_fruit = 'blueberry'
to_append(fruits, new_fruit)

['banana', 'orange', 'mango', 'lemon', 'blueberry']

Update the above function such that it will take third argument as index and add the new_fruit to that particular index.

- Add 'apple' to the index 3 in same list fruits.


**For Example:**

```python
def to_append(fruits, new_fruit, index):
    ### your code here


fruits = ['banana', 'orange', 'mango', 'lemon']

new_fruit = 'apple'
index = 3

to_append(fruits, new_fruit, index)

>>> ['banana', 'orange', 'mango', 'apple', 'lemon']
```

In [7]:
def to_append(fruits, new_fruit, index):
    fruits.insert(index, new_fruit)
    return fruits

fruits = ['banana', 'orange', 'mango', 'lemon']

new_fruit = 'apple'
index = 3
to_append(fruits, new_fruit, index = 3)

['banana', 'orange', 'mango', 'apple', 'lemon']

-  Create a function which will take a list as an argument and print all the items on same line using loop.


**For Example:**

```python
def one_line(fruits):
    ### your code here

fruits = ['banana', 'orange', 'mango', 'lemon']
one_line(fruits)

>>> banana orange mango apple lemon 
```

In [8]:
def one_line(list1):
    for i in list1:
        print(i, end = ' ')

one_line(fruits)

banana orange mango apple lemon

- Create a function which will Reverse a given list `list1 = [8, 6, 4, 2, 0]` 

**For Example:**

```python
def reverse_list(numbers):
    ### your code here
    
list1 = [8, 6, 4, 2, 0]
reverse_list(list1)

>>> [0, 2, 4, 6, 8]
```

In [13]:
def reverse_list(numbers):
    return numbers[::-1]


list1 = [8, 6, 4, 2, 0]
reverse_list(list1)

[0, 2, 4, 6, 8]

- Create a function named as `square_list` which will give square of every element of list provided as argument

**For Example:-**
 
```python
def square_list(list_numbers):
    ### your code here

list2 = [1, 2, 3, 4, 5]
square_list(list2)
>>> 1
    4
    9
    16
    25
```

In [10]:
def square_list(list_numbers):
    for i in list_numbers:
        print(i**2)


list2 = [1, 2, 3, 4, 5]
square_list(list2)

1
4
9
16
25

- Create a function which will take a list as an argument and it will give us updated list after removing empty strings from the list. Use the following list `list3 = ["Vivek", "", "Ankur", "aiadventures", "", "Pranav"]`.


**For Example:-**
 
```python
def remove_spaces(list_names):
    ### your code here

list3 = ["Vivek", "", "Ankur", "aiadventures", "", "Pranav"]
remove_spaces(list3)

>>> ['Vivek', 'Ankur', 'aiadventures', 'Pranav']
```

In [14]:
def remove_spaces(list_names):

    for i in list_names:
        if i == "":
            list_names.remove(i)
    return list_names

list3 = ["Vivek", "", "Ankur", "aiadventures", "", "Pranav"]    
remove_spaces(list3)

['Vivek', 'Ankur', 'aiadventures', 'Pranav']

- Create a function which will take two lists. And the function should iterate both lists simultaneously such that output should display items in original order from first list and elements from second list in reverse order. You can use following lists. `list4 = [10, 20, 30, 40]`, `list5 = [100, 200, 300, 400]`



**For Example:-**
 
```python
def reverse_list(first, second)::
    ### your code here

list4 = [10, 20, 30, 40]
list5 = [100, 200, 300, 400]

reverse_list(list4, list5)
>>> 10 20 30 40 400 300 200 100 
```

**Note:-** Please give attention to the output it doesn't include `[]`  brackets. You have to do the same thing.

In [26]:
def reverse_list(first, second):
    # new_list = []
    for i in (first+second[::-1]):
        print(i ,end = ' ')

list4 = [10, 20, 30, 40]
list5 = [100, 200, 300, 400]

reverse_list(list4, list5)

10 20 30 40 400 300 200 100

- We're using lists to record people who attended our party and what order they arrived in. For example, the following list represents a party with 7 guests, in which Adela showed up first and Ford was the last to arrive:

`party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']`

A guest is considered 'fashionably late' if they arrived after at least half of the party's guests. However, they must not be the very last guest (that's taking it too far). In the above example, Mona and Gilbert are the only guests who were fashionably late.

Create the function which takes a list of party attendees as well as a person, and tells us whether that person is fashionably late.


**For Example:-**
 
```python
def fashionably_late(arrivals, name):
    ### your code here

party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']
fashionably_late(party_attendees, 'Mona')
>>> True
fashionably_late(party_attendees, 'Ford')
>>> False
```

In [27]:
def fashionably_late(arrivals, name):
    order= arrivals.index(name)
    return order>= len(arrivals)/2 and order != len(arrivals)-1

In [28]:
party_attendees = ['Adela', 'Fleda', 'Owen', 'May', 'Mona', 'Gilbert', 'Ford']

In [29]:
fashionably_late(party_attendees,'Mona')

True

In [31]:
fashionably_late(party_attendees,'Ford')

False