# Flow Control Practice problems and solutions

- A student will not be allowed to sit in exam if his/her attendance is less than 75%.
Take following input from user

    - Number of classes held
    - Number of classes attended.


And print percentage of class attended. Is student is allowed to sit in exam or not.

-  Write a program to accept the cost price of a bike and display the total price of the bike including tax to be paid according to the following criteria : 

| Cost price (in Rs)  | Tax |
|---------------------|-----|
| > 100000            | 15 %| 
|> 50000 and <= 100000| 10% |
|<= 50000             | 5%  |

-  Write a program to accept a number from 1 to 12 and display name of the month and days in that month like 1 for January and number of days 31 and so on.

- Ask the user, what is the net worth of Mark Zuckerberg. (do not enter commas when entering the number)
If the user enters 54500000000, print “yes and that’s a 54.5 billion”. If the user enters less than 54500000000, print “that's not much”. If the user enters more than 
54500000000, print “I'll make more when I graduate”.

- Accept the electric units from user and calculate the bill according to the following rates.

First 100 Units     :  Free

Next 200 Units      :  Rs 2 per unit

Above 300 Units    :  Rs 5 per unit

if number of unit is 550 then total bill = 0 +400+1250 = 1650

- Accept the age, sex (‘M’, ‘F’), number of days and display the wages accordingly
      
      >=18 and <30             
                          M             700 
                          F             750
      >=30 and <=40            
                          M             800
                          F             850

- Accept the number of days from the user and calculate the charge for library according to following :

Till five days : Rs 2/day.

Six to ten days  : Rs 3/day.

11 to 15 days  : Rs 4/day

After 15 days    : Rs 5/day