# Loops Practice problems and solutions

- Write a program to print first 10 even numbers in reverse order. (Using both the loops)

In [10]:
# Using while loop
i = 10
print('Output of while loop') # Optional
while i > 0:
  print(i, end = ' ')
  i-=1

print('\n')  # Optional


# Using for loop
print('Output of for loop: ') # Optional
for i in range(10,0,-1):
  print(i,end = ' ')

Output of while loop
10 9 8 7 6 5 4 3 2 1

Output of for loop:
10 9 8 7 6 5 4 3 2 1

- Using loop write a program that keep on accepting user input until user enters 0 and print the sum of all the number entered.

In [3]:
num=1
s=0
while(num!=0):
   num=int(input("Enter any number --> "))
   s=s+num
print('The sum of all the number that you entered is ', s)

Enter any number --> 2
Enter any number --> 10
Enter any number --> 3
Enter any number --> 0
The sum of all the number that you entered is  15

- Try to replicate the following output by using loops and write an appropriate program.

The Multiplication Table of 2 


2 x 1 = 2

.

.

.

The Multiplication Table of 3


3 x 1 = 3

.

.

.

The Multiplication Table of 4


4 x 1 = 4

.

.

.

In [15]:
for i in range(2, 5):
  print('The Multiplication Table of '+str(i))
  for j in range(1,11):
    print(str(i) + ' x ' + str(j) + ' = ' + str(i*j))
  print('\t')

The Multiplication Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

The Multiplication Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

The Multiplication Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40