# Other Data Structures Practice problems and solutions

- Create a function which will take one argument as list of countries and print the number of vowels in the name of each country.

**For Example:-**
 
```python
def count_vowels(countries):
    ### your code here

asian_countries = ('afghanistan', 'bangladesh', 'bhutan', 'china', 'india', 'iran', 'iraq', 'israel','japan')
count_vowels(asian_countries)

>>> afghanistan has 4 vowels.
    bangladesh has 3 vowels.
    bhutan has 2 vowels.
    china has 2 vowels.
    india has 3 vowels.
    iran has 2 vowels.
    iraq has 2 vowels.
    israel has 3 vowels.
    japan has 2 vowels.
```

In [28]:
def count_vowels(countries):
    vowels = ('a','e','i','o','u')
    for country in countries:
        count = 0
        for char in country:
            if char in vowels:
                count+=1

        print(str(country) + ' has ' + str(count) + ' vowels.')

asian_countries = ('afghanistan', 'bangladesh', 'bhutan', 'china', 'india', 'iran', 'iraq', 'israel','japan')
count_vowels(asian_countries)

afghanistan has 4 vowels.
bangladesh has 3 vowels.
bhutan has 2 vowels.
china has 2 vowels.
india has 3 vowels.
iran has 2 vowels.
iraq has 2 vowels.
israel has 3 vowels.
japan has 2 vowels.

- Create a dictionary of name `student`, it should contain your 'Name', 'Gender', 'Age', 'Programming language'. After creating it add a new key 'Roll number' and its value 43 into the dictionary.

In [29]:
student = {'Name' : 'Pranav', 'Gender': 'Male','Age' : 24, 'Programming Language': 'C'}

student['Roll number'] = 43
student

{'Name': 'Pranav',
 'Gender': 'Male',
 'Age': 24,
 'Programming Language': 'C',
 'Roll number': 43}

- Imagine you have a fruit shop and you have to given two dictionaries below one shows the count of each fruit that you have in stock and another one is the price of each fruit. Given below are the two dictionaries you can use:

`stock = {
    "banana": 6,
    "apple": 0,
    "orange": 32,
    "pear": 15
}`

`prices = {
    "banana": 4,
    "apple": 2,
    "orange": 1.5,
    "pear": 3
}`


You have to write a function which will take these two dictionaries as argument and will return the total bill after selling every fruit in your shop.

**For Example:-**
 
```python
def total_bill(first, second):
    ### your code here

stock = {"banana": 6, "apple": 0, "orange": 32, "pear": 15}
prices = {"banana": 4, "apple": 2, "orange": 1.5, "pear": 3}

total_bill(stock, prices)
>>> 117.0
```

In [14]:
def total_bill(first, second):

    total = 0
    for fruit in first.keys():
        total+= (first[fruit]*second[fruit])
    return total


stock = {"banana": 6, "apple": 0, "orange": 32, "pear": 15}
prices = {"banana": 4, "apple": 2, "orange": 1.5, "pear": 3}

total_bill(stock, prices)

117.0

- Given below is a list named `to_add` and a  dictionary `sampleDict`. You have to create a list 

`sampleDict = {
  "name": "Pranav",
  "age":25,
  "salary": 80000,
  "city": "Nagpur"
}`

`to_add = ["name", "salary"]`


** Hint:-** You can use `for` loop. Also try to implement it in a function.


**For Example:-**
 
```python
def create_dict(original_dict, keys_list):
    ### your code here
    newDict = {}

sampleDict = {"name": "Pranav", "age":25, "salary": 80000, "city": "Nagpur"}
to_add = ["name", "salary"]

create_dict(sampleDict, to_add)

>>> {'name': 'Pranav', 'salary': 80000}
```

In [15]:
 def create_dict(original_dict, keys_list):
    newDict={}
    for k in original_dict.keys():
        if k in keys_list:
            newDict.update({k: original_dict[k]})
    return newDict


sampleDict = { "name": "Pranav", "age":25, "salary": 80000, "city": "Nagpur" }
to_add = ["name", "salary"]

create_dict(sampleDict, to_add)

{'name': 'Pranav', 'salary': 80000}

- Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

**Hints**
In case of input data being supplied to the question, it should be assumed to be a console input.
```python
def create_dict(original_dict, keys_list):
    ### your code here
    
```

In [2]:
def even_in_range():
    values=[]
    for i in range(1000, 3001):
        s = str(i)
        if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0) and (int(s[3])%2==0):
            values.append(s)
    return ",".join(values)
even_in_range()

'2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888'