# Python Practice problems and solutions

## Expressions

- Try to implement compound interest formula V=P(1+r/n)^nt

    - P = 1500
    - r = 0.043
    - n = 4
    - t = 6

In [17]:
P = 1500
r = 0.043
n = 4
t = 6

V=(P*(1+r/n))**(n*t)
V

2.175906439573089e+76

- Implement Simple Interest Formula
S.I. = P × R × T

    - P = 1500
    - R = 9.5
    - T = 20

In [19]:
P = 1500
R = 9.5
T = 20

SI = P * R * T
SI

285000.0

## Flow Control

- A student will not be allowed to sit in exam if his/her attendance is less than 75%.
Take following input from user

    - Number of classes held
    - Number of classes attended.


And print percentage of class attended. Is student is allowed to sit in exam or not.

In [20]:
cls_held = int(input('Enter the number of classes held. '))
cls_atd = int(input('Enter the number of classes attended. '))


if (cls_atd/cls_held)*100 >=75:
  print('The student is allowed for the exam.')
else:
  print('The student is allowed for the exam.')

Enter the number of classes held. 20
Enter the number of classes attended. 15
The student is allowed for the exam.

-  Write a program to accept the cost price of a bike and display the total price of the bike including tax to be paid according to the following criteria : 

| Cost price (in Rs)  | Tax |
|---------------------|-----|
| > 100000            | 15 %| 
|> 50000 and <= 100000| 10% |
|<= 50000             | 5%  |

In [23]:
cost_price = int(input('Enter the cost of the bike.'))

if cost_price > 100000:
  total_price = cost_price + (cost_price * 0.15)

elif 50000 < cost_price <= 100000:
  total_price = cost_price + (cost_price * 0.10)

elif cost_price <=50000:
  total_price = cost_price + (cost_price * 0.05)

print('The final price of your bike will be (Rs.) ',total_price)

Enter the cost of the bike.75000
The final price of your bike will be (Rs.)  82500.0

-  Write a program to accept a number from 1 to 12 and display name of the month and days in that month like 1 for January and number of days 31 and so on.

In [26]:
enter_month  = int(input('Enter the number of the month.'))


months = {1: 'January', 2: 'February',3: 'March',4: 'April',
          5: 'May',6: 'June',7: 'July',8: 'August',
          9: 'September', 10: 'October',11: 'November',12: 'December'}

days_31 = [1,3,5,7,8,10,12]
days_30 = [4,6,9,11]

if enter_month in days_31:
  print(months[enter_month] + ' has ' + '31 Days.')

elif enter_month in days_30:
  print(months[enter_month] + ' has ' + '30 Days.')

else :
  print(months[enter_month] +' has ' + '28 days')

Enter the number of the month.1
January has 31 Days.

## Function

-  Write a function called calculate_area that takes base and height as an input and returns and area of a triangle. Equation of an area of a triangle is,

    - area = (1/2) * base * height

In [27]:
def calculate_area(base, height):
  area = (1/2)*base*height
  return area

In [28]:
calculate_area(2,6)

6.0

-  Modify the above function to take the third parameter shape type. It can be either “triangle” or “rectangle”. Based on shape type it will calculate area. Equation of rectangle’s area is,

    - rectangle area = base * height

In [29]:
def calculate_area(base, height, shape_type):
  if shape_type =='Triangle':

    area = (1/2)*base*height
  elif shape_type == 'Rectangle':
    area = base*height 
  return area

In [30]:
calculate_area(2,6,'Rectangle')

12

## Loops

- Write a program to print first 10 even numbers in reverse order. (Using both the loops)

In [10]:
# Using while loop
i = 10
print('Output of while loop') # Optional
while i > 0:
  print(i, end = ' ')
  i-=1

print('\n')  # Optional


# Using for loop
print('Output of for loop: ') # Optional
for i in range(10,0,-1):
  print(i,end = ' ')

Output of while loop
10 9 8 7 6 5 4 3 2 1

Output of for loop:
10 9 8 7 6 5 4 3 2 1

- Using loop write a program that keep on accepting user input until user enters 0 and print the sum of all the number entered.

In [3]:
num=1
s=0
while(num!=0):
   num=int(input("Enter any number --> "))
   s=s+num
print('The sum of all the number that you entered is ', s)

Enter any number --> 2
Enter any number --> 10
Enter any number --> 3
Enter any number --> 0
The sum of all the number that you entered is  15

- Try to replicate the following output by using loops and write an appropriate program.

The Multiplication Table of 2 


2 x 1 = 2

.

.

.

The Multiplication Table of 3


3 x 1 = 3

.

.

.

The Multiplication Table of 4


4 x 1 = 4

.

.

.

In [15]:
for i in range(2, 5):
  print('The Multiplication Table of '+str(i))
  for j in range(1,11):
    print(str(i) + ' x ' + str(j) + ' = ' + str(i*j))
  print('\t')

The Multiplication Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

The Multiplication Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

The Multiplication Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40