# Other Data Structures Practice problems and solutions

- Use `aiadv` dictionary and create a new sorted dictionary based on keys of given dictionary.

aiadv = {'Vivek': 46, 'Ankur': 89, 'Raksha': 53,'Pranav':72}

In [5]:
aiadv = {'Vivek': 46, 'Ankur': 89, 'Raksha': 53,'Pranav':72}

new_dict = dict(sorted(aiadv.items()))

new_dict

{'Ankur': 89, 'Pranav': 72, 'Raksha': 53, 'Vivek': 46}

- Imagine you have a fruit shop and you have to given two dictionaries below 1 shows the number of each fruit that you have in stock and another one is the price of each fruit. You have to write a program to calculate how much money did you make after selling all the items in your shop.

Given below are two dictionaries:

`stock = {
    "banana": 6,
    "apple": 0,
    "orange": 32,
    "pear": 15
}`

`prices = {
    "banana": 4,
    "apple": 2,
    "orange": 1.5,
    "pear": 3
}`

In [12]:
stock = {
    "banana": 6,
    "apple": 0,
    "orange": 32,
    "pear": 15
}

prices = {
    "banana": 4,
    "apple": 2,
    "orange": 1.5,
    "pear": 3
}

In [16]:
total_bill = 0
for i in prices:
    total_bill += prices[i]*stock[i]
    print(prices[i],stock[i])
print(total_bill)

4 6
2 0
1.5 32
3 15
117.0

- Create a new dictionary by extracting the following keys from a below dictionary

sampleDict = {
  "name": "Pranav",
  "age":25,
  "salary": 80000,
  "city": "Nagpur"
}

keys = ["name", "salary"]

In [2]:
sampleDict = { "name": "Pranav", "age":25, "salary": 80000, "city": "Nagpur" }

keys = ["name", "salary"]

In [3]:
newDict={}
for k in sampleDict.keys():
    if k in keys:
        newDict.update({k: sampleDict[k]})
newDict

{'name': 'Pranav', 'salary': 80000}

- Rename key city to location in the following dictionary

Dict1 = {
  "name": "Pranav",
  "age":25,
  "salary": 80000,
  "city": "Nagpur"
}

In [5]:
Dict1 = {
  "name": "Pranav",
  "age":25,
  "salary": 80000,
  "city": "Nagpur"
}

In [6]:

Dict1['Location']=Dict1.pop('city')
Dict1

{'name': 'Pranav', 'age': 25, 'salary': 80000, 'Location': 'Nagpur'}